<!DOCTYPE html>
<html>
    <style>
        body{
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);    }
        .gradient{
      background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);  }
             .m{
            margin-left: 3rem !important;
           margin-top: 3% !important;
        }
        img{
            height:100px;
            width:auto;
        }
    </style>
    <head>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="myjavascript.js"></script>
        <title>Covid19 APP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-app="Covid-19">
        <div ng-controller="mycontrol" >
        <div class="jumbotron jumbotron-fluid gradient text-light">
               
  <div class="container text-center">
      <img src="mask.png" />
      <div class="row">
          <div class="col-11 py-2">
              
    <h2 class="display-4">{{tittle}}</h2>
    
    <marquee class="text-danger"><h4>* Clean your hands often. Use soap and water, or an alcohol-based hand rub
                                     * Maintain a safe distance from anyone who is coughing or sneezing
                                     *   Don’t touch your eyes, nose or mouth.
                                      *  Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
                                       *   Stay home if you feel unwell.
                                       * If you have a fever, cough and difficulty breathing, seek medical attention. Call in advance.
                                          *Follow the directions of your local health authority.</h4> </marquee>
  
    
       <p>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.   
          <br>
      The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette
      <br>
      At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available
    </p>
    
    
    
    
  </div>
          <div class="col-4">
              <div class="card" style="width: 18rem;">
   
  <div class="card-body bg-success text-light">
    <h3 class="card-title"> Confirmed Cases </h3>
    <h5 class="card-text">{{totaldata.confirmed.value}}</h5>
    
  </div>
</div>
          </div>

      
           <div class="col-4">
              <div class="card" style="width: 18rem;">
   
  <div class="card-body bg-warning text-light">
    <h3 class="card-title"> Recovered Cases </h3>
    <h5 class="card-text">{{totaldata.recovered.value}}</h5>
    
  </div>
</div>
          </div>

       <div class="col-4">
              <div class="card" style="width: 18rem;">
   
  <div class="card-body bg-danger text-light">
    <h3 class="card-title">Death Cases</h3>
    <h5 class="card-text">{{totaldata.deaths.value}}</h5>
    
  </div>
</div>
          </div>

      </div>
   
            <div class="row">
                
                <div class="col-11">
                    <div class="form-group  m">
                    <input class="form-control" type="text" placeholder="enter countries"  ng-change="myfun()" ng-model="count"/>
                    </div>
                    
                </div>
                </div>
       <h3>{{count_data.name}}</h3>
       <div class="row" ng-model="my" ng-if="count_data">
          
          <div class="col-4">
             <div class="card" style="width: 18rem;">
   
  <div class="card-body bg-success text-light">
    <h3 class="card-title">Confirmed Cases  </h3>
    <h5 class="card-text">{{count_data.confirmed.value}}</h5>
    
  </div>
</div>
          </div>
          <div class="col-4">
             <div class="card" style="width: 18rem;">
   
  <div class="card-body bg-warning text-light">
    <h3 class="card-title">  Recovered Cases  </h3>
    <h5 class="card-text">{{count_data.recovered.value}}</h5>
    
  </div>
</div> 
          </div>
          <div class="col-4">
             <div class="card" style="width: 18rem;">
   
  <div class="card-body bg-danger text-light">
    <h3 class="card-title"> Death Cases  </h3>
    <h5 class="card-text">{{count_data.deaths.value}}</h5>
    
  </div>
</div> 
              
          </div>
      </div>
     
  </div>
             
        </div>
        </div>
        
    </body>
</html>
